@charset "utf-8";
/* linkek aláhúzásának törlése */
:link,:visited{text-decoration:none;} 
/* listák elõl töröljük a pöttyöket és számokat */
ul,ol {list-style:none;}
/* az automatikus címsor méret beállítás törlése */
h1, h2, h3, h4, h5, h6, pre, code{font-size:1em;}
.h3{
	font-size:18px;
	font-weight:bold;
}
/* töröljük az egyéb elemek köré berakott paddingot és margint is */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, table, td, tr{margin:0;padding:0;border-spacing:0;}
/* szedjük ki a linkelt képek köré rakott keretet */
a img,:link img,:visited img{border:none;}
html, body{
	font-family:"Times New Roman", Arial, serif;
	font-size:16px;
	color: rgb(50, 50, 0);
	background:rgb(165 231 170);
	margin:0;
	padding:0 0 0 0;
	width:100%;
 	overflow:auto;
/*	min-width:928px;*/
}
#head{
	position:static; 
	text-align: center;
	border: 1px solid black;
	background:brown;
	color: white;
	height: 30px;
}
#tartalom{
	position:static;
	text-align: center;
	color: rgb(131 106 68);
	margin-top: 30px;
}
#foot{
	border: 1px solid black;
	background:brown;
	color: white;
	position:fixed;
	bottom:0;
	left:0;
	font-size:12px;
	text-align: center;
	vertical-align: midle;
	width: 100%;
	height: 22px;
	text-decoration: none;
	padding-top:0px;

}
th.kozepre{
	text-align: center;
	padding: 1px 10px 1px 10px;
	margin: 10px;
    background-color: #04AA6D;
    color: white;

}
tr:nth-child(even){background-color: #f2f2f2}

tr.adatsor{
	text-align: center;

	margin: 1px;
}
td{
	border-top: 1px solid black;
	padding: 1px 20px 1px 20px;
}
th.id{
	text-align: center;
}
th.user_id{
	text-align: center;
}
th.work_id{
	text-align: center;
}
th.start{
	text-align: center;
}
th.stop{
	text-align: center;
}
th.pause{
	text-align: center;
}
th.work_time{
	text-align: center;	
}

th.ido{
	
}
td.id{
	text-align: left;
}
td.user_id{
	text-align: left;
}
td.work_id{
	text-align: left;
}
td.start{
	text-align: right;
}
td.stop{
	text-align: right;
}
td.pause{
	text-align: right;
}
td.work_time{
	text-align: right;	
}
td.ido{
	
}
#balcsik{
	width:100px;
	float: left;
	clear:left;
}
#kozepso{
	margin-left: 100px;
    margin-right: 100px;
}
#jobbcsik{
	width:100px;
	float: right;
}
.tavtarto2
{
/*	clear:both;*/
	height: 5px;
}
}
.tabla_fej{
	margin-left: auto;
    margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 710px;
	height: 24px;
}
.tabla_kozep{
	margin: 0 auto 0 auto;
	width: 1024px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
table{
	margin: 0 auto 0 auto;
}
.fejlec_nev{
	font-size: 25px;
	font-weight: bold;
}
.fejlec_datum{
	font-size: 20px;
	font-weight: bold;
}